.body {
    background-color: hsl(212, 45%, 89%);
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}

.back {
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
    border-width: 10px;
    display: inline-block;
    background-color: white;
    justify-content: center;
    height: 600px;
}

.img img {
    border-radius: 15px;
    height: 350px;
    align-items: center;
    padding: 5px;
}

.text {
    font-size: 14.5px;
    font-family: Outfit;
    font-weight: 700;
    padding: 5px;
    text-align: center;
}

.Textq {
    font-size: 15px;
    font-family: Outfit thin;
    padding-top: 1px;
    font-weight: 100;
    text-align: center;
    opacity: 1.5;
    color: rgba(140, 146, 158, 0.7);
}

@media (min-width: 375px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1444px) {
  .container {
    width: 50%;
  }
}